:root {
    --dark-blue: #0f2854;
    --blue: #1c4d8d;
    --light-blue: #4988c4;
    --very-light-blue: #bde8f5;
    --text-color: #ffffff;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: sans-serif;
    background: #f4f7f6;
    margin: 0;
    direction: rtl;
}

.main-header {
    background: var(--dark-blue);
    padding: 10px 15px;
    display: flex;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#searchInput {
    flex: 1;
    padding: 12px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
}

.nav-link {
    color: white;
    text-decoration: none;
    background: var(--blue);
    padding: 8px;
    border-radius: 5px;
    font-size: 0.8rem;
}

.cart-icon {
    color: white;
    font-size: 1.5rem;
    position: relative;
    cursor: pointer;
}

#cart-count {
    position: absolute;
    top: -5px;
    right: -8px;
    background: red;
    color: white;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 10px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

.product-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.add-to-cart {
    background: var(--blue);
    color: white;
    border: none;
    padding: 8px;
    width: 90%;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2000;
    padding: 15px;
    justify-content: center;
}

.modal-content {
    background: white;
    width: 100%;
    max-width: 450px;
    padding: 20px;
    border-radius: 15px;
    height: fit-content;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

.btn-confirm {
    background: var(--dark-blue);
    color: white;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-cancel {
    width: 100%;
    background: #eee;
    border: none;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .products-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}